body {
    background-image: url(background.jpg);

    font-family: cursive;
}



.pizza {
    border: 5px solid #4A6C6F;
    padding: 1em;
    margin: 1rem;
    margin-bottom: 0.5em;
    border-radius: 1em;
}

.Medium_Pizza {
    background-color:green;
  
}

.Large_Pizza {
    background-color:blue;
   
}

.Small_Pizza {
    background-color:yellow;
    
}

.contact_us {
    background-color: #4A6C6F;
}
.special {
    background-color:black;
    color: azure;
    
}

@media(min-width : 750px) {
    body {
        background-color: aqua;
    }
}

@media(min-width : 960px) {
    body{
        background-color: aqua;
    }
    
    .pizzas {
        display: flex;
    }
}
.Perfect{
    background-color: antiquewhite;
    border: 5px solid #4A6C6F;
    padding: 1em;
    margin: 1rem;
    margin-bottom: 0.5em;
    text-align: center;
    
    border-radius: 1em;

}
.Pizza Home{
    background-color: antiquewhite;
    border: 5px solid #4A6C6F;
    padding: 1em;
    margin: 1rem;
    margin-bottom: 0.5em;
    border-radius: 1em;
    text-align: center;


}